{% comment %}
	FIX:
		- Sin redundancia de codigo:
			tener diferentes bloques de navegacion por cada pagina puede sujetarse 
			a errores de dedo y/o desactualizacion de los datos. Tenerlos en un 
			solo lugar es rapido y facil de actualizar en todos las paginas.

		- Vistas uniformes:
			El administrador debe de ser capaz de acceder al menu de administrador
			aun cuando se encuentre en una vista perteneciente a la secretaria.

	TODO:
		+ Evaluar el rol del usuario para mostrar solo los links a los que puede acceder.
		+ Para el menu expandido, agregar el acordeon.
{% endcomment %}
			<div class="large-2 columns hide-on-print no-padding white-bg">
				<div class="no-margin no-padding">
					{% load staticfiles %}
					<div class="sidebar-image" style="background-image: url('{% static 'img/banner2.png' %}');"></div>

					{# barra mas pequeña (sin acordeon). pantalllas inferiores a 1024px #}
					<div class="no-margin no-padding hidden-for-large-up">
						<ul class="no-bullet no-margin sidebar-nav lt-large">
							{% if request.session.rol > 0 %}
								<li><a href="/inicio-secretaria">Secretaria</a></li>
							{% endif %}
							{% if request.session.rol > 1 %}
								<li><a href="/inicio-jefedep">Jefe de Departamento</a></li>
							{% endif %}
							{% if request.session.rol > 2 %}
								<li><a href="/inicio-administrador">Administrador</a></li>
							{% endif %}
						</ul>
					</div>
					
					<ul class="no-bullet show-for-large-up no-margin sidebar-nav">
						{% if request.session.rol > 0 %}
							<li><a href="/inicio-secretaria">Secretaria</a></li>
						{% endif %}
						{% if request.session.rol > 1 %}
							<li><a href="/inicio-jefedep">Jefe de Departamento</a></li>
						{% endif %}
						{% if request.session.rol > 2 %}
							<li><a href="/inicio-administrador">Administrador</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
