{% extends 'base.html' %}

{% block title %}
	Listas
{% endblock %}

{% block poshead %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/edi-table-widget.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('table#cursos').editableTableWidget().on('change', function(evt, newValue) {
				console.log(evt.target.parentNode)
			});
		});
	</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="medium-12 columns">	
		<h3 class="text-center">CURSOS <h3>

		<ul class="pagination" role="menubar" aria-label="Pagination">
			{% if lista_cursos.has_other_pages %}
			<li class="arrow">
				<a href="{% if lista_cursos.has_previous %}?pagina={{ lista_cursos.previous_page_number }}{% else %}#{% endif %}">&laquo; Anterior</a>
			</li>
			
			{% for i in lista_cursos.paginator.page_range %}
				<li {% if lista_cursos.number = i %} class="current"{% endif %}><a href="?pagina={{ i }}">{{ i }}</a></li>
			{% endfor %}

			<li class="arrow">
				<a href="{% if lista_cursos.has_next %}?pagina={{ lista_cursos.next_page_number }}{% else %}#{% endif %}">Siguiente &raquo;</a></li>
			</li>
			{% endif %}

			<li><p class="no-margin no-padding" style="position: absolute; right: 0; right: 32px;">Mostrando {{ lista_cursos.start_index }}-{{ lista_cursos.end_index }} de {{ lista_cursos.paginator.count }}.</p></li>
		</ul>

		<table class="full-width-table" id="cursos">
				<thead>
					<th>#</th>
					<th>NRC</th>
					<th>CLAVE</th>
					<th>MATERIA</th>
					<th>AREA</th>
					<th>SECCION</th>
					<th>EDIF</th>
					<th>AULA</th>
					<th>PROFESOR</th>
				</thead>

				<tbody>
					{% for curso in lista_cursos %}
					<tr>
						<td class="row-n non-editable">{{ forloop.counter0|add:lista_cursos.start_index }}</td>
						<td class="row-nrc non-editable">{{ curso.NRC }}</td>
						<td class="row-clave non-editable">{{ curso.fk_materia.clave }}</td>
						<td class="row-materia">{{ curso.fk_materia.nombre }}</td>
						<td class="row-area">{{ curso.fk_area }}</td>
						<td class="row-seccion">{{ curso.fk_secc }}</td>
						<td class="row-edif">{{ curso.fk_edif.id }}</td>
						<td class="row-aula">{{ curso.fk_aula.nombre }}</td>
						<td class="row-profesor">{{ curso.fk_profesor }} ({{ curso.fk_profesor.codigo_udg }})</td>
					</tr>
					{% endfor %}
				</tbody>
		</table>

		<ul class="pagination" role="menubar" aria-label="Pagination">
			{% if lista_cursos.has_other_pages %}
			<li class="arrow">
				<a href="{% if lista_cursos.has_previous %}?pagina={{ lista_cursos.previous_page_number }}{% else %}#{% endif %}">&laquo; Anterior</a>
			</li>
			
			{% for i in lista_cursos.paginator.page_range %}
				<li {% if lista_cursos.number = i %} class="current"{% endif %}><a href="?pagina={{ i }}">{{ i }}</a></li>
			{% endfor %}

			<li class="arrow">
				<a href="{% if lista_cursos.has_next %}?pagina={{ lista_cursos.next_page_number }}{% else %}#{% endif %}">Siguiente &raquo;</a></li>
			</li>
			{% endif %}

			<li><p class="no-margin no-padding" style="position: absolute; right: 0; right: 32px;">Mostrando {{ lista_cursos.start_index }}-{{ lista_cursos.end_index }} de {{ lista_cursos.paginator.count }}.</p></li>
		</ul>
	</div>

</div>
{% endblock %}
