{% extends 'base.html' %}

{% block title %}
    Reporte de Incidencias
{% endblock %}

{% block poshead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/print/formatos.css' %}" type="text/css" media="print" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-12 columns">
            <button class="button tiny hide-for-print right" onclick="print()">Imprimir formato</button>
            <table class="full-width-table">
                <thead class="especialHead">
                    <th colspan="2">
                        {% load staticfiles %}
                        <img src="{% static 'img/udglogo.jpg' %}">
                    </th>
                    <th style="text-align: center" colspan="7">
                        REPORTE DE INCIDENCIAS DEL PERSONAL ACADEMINCO<br>
                        CENTRO UNIVERSITARIO DE CIENCIAS EXACTAS E INGENIERIAS<br>

                        {% if extender_info %}
                            DEL {{ fechaI.day }} DE {{ mes_ini }} DE {{ fechaI.year }}<br>
                            AL {{ fechaF.day }} DE {{ mes_fin }} DE {{ fechaF.year }}
                        {% else %}
                            DEL {{ fechaI.day }} AL {{ fechaF.day }} DE {{ mes_fin }} DE {{ fechaF.year }}
                        {% endif %}
                    </th>
                </thead>

                <thead>
                    <th>FECHA</th>
                    <th>NOMBRE</th>
                    <th>CODIGO</th>                    
                    <th>CATEGORIA</th>
                    <th>DEPTO.</th>
                    <th>MATERIA</th>
                    <th>SECC</th>
                    <th>HORARIO</th>
                    <th>HORAS FALTA</th>
                </thead>

                <tbody>
                    {% for x in listaIncidencias %}
                    <tr>
                        <td class="row-fecha">{{ x.fecha.day }}/{{ x.fecha.month }}/{{ x.fecha.year }}</td>
                        <td class="row-nombre">{{ x.fk_contrato.fk_curso.fk_profesor }}</td>
                        <td class="row-codigo">{{ x.fk_contrato.fk_curso.fk_profesor.codigo_udg }}</td>
                        {% if x.fk_contrato.tipo == 'T' %}
                        <td class="row-categoria">Tiempo Completo({{ x.fk_contrato.tipo }})</td>
                        {% elif x.fk_contrato.tipo == 'P' %}
                        <td class="row-categoria">Medio Tiempo({{ x.fk_contrato.tipo }})</td>
                        {% elif x.fk_contrato.tipo == '' %}
                        <td class="row-categoria">Sin especificar({{ x.fk_contrato.tipo }})</td>
                        {% endif %}
                        <td class="row-dpto">{{ x.fk_depto.nick.upper }}</td>
                        <td class="row-materia">{{ x.fk_contrato.fk_curso.fk_materia.nombre }}</td>
                        <td class="row-secc">{{ x.fk_contrato.fk_curso.fk_secc }}</td>

                        <td class="row-horario">
                        {% for i in x.fk_contrato.fk_curso.fk_horarios.all %}
                        {{ i.hora_ini }}-{{ i.hora_fin }}
                        {% endfor %}
                        </td>

                        <td class="row-hrsFalta">{{ x.horasFalta }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}