{% extends 'base.html' %}

{% block title %}
    Formulario de Incidencias
{% endblock %}

{% block poshead %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/jquery.timepicker.css' %}">
    <script type="text/javascript" src="{% static 'js/datetime/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datetime/datepair.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datetime/jquery.datepair.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datetime/jquery.timepicker.min.js' %}"></script>
    <script>
        $(document).ready(function()
        {
            $('.dateOnly .date').datepicker(
            {
                    'format': 'yyyy-mm-dd',
                    'autoclose': true
            });

            var dateOnlyEl = document.getElementById('dateOnly');
            var dateOnlyDatepair = new Datepair(dateOnlyEl);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-11 medium-centered columns panel">
            <h4 class="text-center">Reportes de Incidencias</h4>
            <form action="/computacion/ver-incidencias" method="post">{% csrf_token %}
                <div class="row">                    
                    <div class="medium-6 columns">
                        <label>
                            Fecha de inicio<p class="dateOnly" id="dateOnly">
                            <input type="text" id="fecha" class="date error" name="fechaIni" placeholder="Buscar por fecha (YYYY-MM-DD)" required/>
                            </p>
                        </label>
                        {% if 'Inicio' in errores %}
                        <small class="error">Fecha invalida</small>
                        {% endif %}
                    </div>
                    <div class="medium-6 columns">
                        <label>
                            Fecha fin<p class="dateOnly" id="dateOnly">
                            <input type="text" id="fecha" class="date error" name="fechaFin" placeholder="Buscar por fecha (YYYY-MM-DD)" required/>
                            </p>
                        </label>
                        {% if 'Fin' in errores %}
                        <small class="error">Fecha invalida</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <br><input type="submit" value="Generar reporte" class="button tiny">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}