{% extends 'base.html' %}

{% block title %}
    Cambiar Jefe de Departamento - Administrador
{% endblock %}

{% block content %}

<div class="row">
	<div class="medium-12 columns ">	
		<table class="full-width-table">
			<caption><h3>USUARIOS <h3></caption>
				 <thead>
                    <th>USUARIO</th>
                    <th>NOMBRE</th>
                    <th>PUESTO</th>
                    <th>STATUS</th>
                </thead>

				  <tbody>
                    {% for x in usuarios %}
                    <tr>
                        <td class="row-username">{{ x.username }}</td>
                        <td class="row-usuario">{{ x.first_name }} {{x.last_name}}</td>
                        <td class="row-rol">{{x.rol.tipo}}</td>
                        {% if x.is_active %}
                        <td> <input type="radio" name="activos" value="Activo"<label for="usuactivo" checked >Activo</label>
                        <input type="radio" name="inactivo" value="Inactivo"<label for="usuinactivo">Inactivo</label></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
		</table>
		<input type="submit" value="Aplicar cambios" class="small radius button"/>
	</div>

</div>
{% endblock %}
