<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %}</title>

    {% block prehead %}{% endblock %}
    {% comment %}
        'prehead' permite agregar cualquier elemento (script, css, etc) 
        al head ANTES que cualquier otro.
    {% endcomment %}

    {% load staticfiles %}
    <!-- ESTILOS -->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundationEdit.css' %}">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>

    {% block poshead %}{% endblock %}
    {% comment %}
        'poshead' permite agregar cualquier elemento (script, css, etc) 
        al head DESPUES de que se han cargado todos los demas. Util para cargar
        plugins de jQuery o CSS que deben de aplicarse encima de cualquier otro
    {% endcomment %}
</head>

<body>
    <!-- Top bar -->
    {% comment %}
        TODO:
            + Hacer que la barra sea dinamica.
            + Separar en otro archivo (?)
    {% endcomment %}
    <nav class="top-bar hide-on-print" data-topbar role="navigation" style="background-color:#4285F4;">
        <section class="top-bar-section">
            <ul class="title-area">
                <li class="name" style="background-color:#4285F4;">
                    <h1>
                        <a href="#" style="background-color:#4285F4;">{% spaceless %}{% block usuario %}{usuario}{% endblock %}{% endspaceless %}</a>
                    </h1>
                </li>
            </ul>
            <ul class="right">
                <li><a href="#" style="background-color:#4285F4;">Modificar Perfil</a></li>
                <li><a href="#" style="background-color:#4285F4;border-left:solid #4285E4 0.15rem;">Salir</a></li>
            </ul>
        </section>
    </nav>

    <div id="container">
        <div class="row full-width">

            <!-- Contenido del panel de la izquierda, por orden jerárquico de menor a mayor -->
            <div class="large-2 columns hide-on-print" style="background-color:#FFFFFF; padding:0rem;">
                <img src="{% static 'img/banner2.png' %}">
                <ul class="no-bullet" style="margin:1rem;">
                    {% block navegacion %}
                    {% endblock %}
                </ul>
            </div>

            <!-- Contenido del area principal, un recuadro por departamento con sus botones correspondientes -->
            <div class="large-10 columns">
                {% if banner %}
                <!-- Banner, por el momento una imagen cualquiera -->
                <div class="large-12 columns no-padding no-margin">
                    <img src="{% static 'img/banner.png' %}" class="hide-on-print">
                </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>          
        </div>
    </div>

    {# es importante agregar esto #}
    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>
</html>
