{% extends 'base.html' %}

{% block title %}
    Cambiar Jefe de Departamento - Administrador
{% endblock %}

{% block content %}
    
    <div class="large-6 columns">
        <div class="panel">
            <h3>Crear jefe de departamento</h3>
            <form action="/crear_jefeDep/" method="POST">{% csrf_token %}
                <label>Usuario</label><input type="text" name="username" placeholder="Nombre de usuario"></input>
                <label>Nombre</label><input type="text" name="first_name" placeholder="Nombre"></input>
                <label>Apellido</label><input type="text" name="last_name" placeholder="Apellido"></input>
                <label>Código</label><input type="text" name="codigo" placeholder="Codigo" maxlength="9"></input>
                <label>Contraseña</label><input type="password" name="password" placeholder="Contraseña"></input>
                <input type="submit" value="Crear usuario" class="small radius button"/>
            </form>
        </div>
    </div>

{% endblock %}