{% extends 'base.html' %}

{% block title %}
    Ejemplo
{% endblock %}

{% block usuario %}
    Administrador
{% endblock %}

{% block navegacion %}
    <li><a href="#">Secretaria</a></li>
    <li><a href="#">Jefe de departamento</a></li>
    <li><a href="#">Administrador</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner">
                <img src="/static/img/logos_carreras/computacion.png">
            </div>
            <div class="large-12 colums panel">
                <h3 class="text-center">Computación<h3>
                <div class="row">
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner">
                <img src="/static/img/logos_carreras/electronica.png">
            </div>
            <div class="large-12 colums panel">
                <h3 class="text-center">Electrónica<h3>
                <div class="row">
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner">
                <img src="/static/img/logos_carreras/informatica.png">
            </div>
            <div class="large-12 colums panel">
                <h3 class="text-center">Informática<h3>
                <div class="row">
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner">
                <img src="/static/img/logos_carreras/biomedica.png">
            </div>
            <div class="large-12 colums panel">
                <h3 class="text-center">Biomédica<h3>
                <div class="row">
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner">
                <img src="/static/img/logos_carreras/robotica.png">
            </div>
            <div class="large-12 colums panel">
                <h3 class="text-center">Robótica<h3>
                <div class="row">
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                    <div class="large-6 columns">
                        <button class="button expand">Función</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}