{% extends 'base.html' %}

{% block title %}
    Reporte de Incidencias
{% endblock %}

{% block poshead %}
    <script type="text/javascript">

        var materias = { {% for profe in profesores %} '{{ profe.codigo_udg }}': [{% for curso in profe.curso_set.all %} {'id_curso':{{ curso.NRC }}, 'id_materia': '{{ curso.fk_materia.clave }}', 'seccion': '{{ curso.fk_secc }}'}{% if not forloop.last %},{% endif %} {% endfor %} ]{% if not forloop.last %},{% endif %} 
        {% endfor %} };

        function filtra_materias(ref)
        {
            sel_listaMat = $('#materia');
            sel_listaMat.empty();

            seleccionada = ref.options[ref.selectedIndex];
            // console.log(seleccionada); // DEBUG

            $(materias[ seleccionada.value ]).each(function() 
            {
                node = document.createElement('option');
                node.value = this.id_curso;
                node.innerHTML = this.id_materia + ' | ' + this.seccion;

                sel_listaMat.append(node);
            });

            // console.log(sel_listaMat); // DEBUG
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-11 medium-centered columns panel">
            <form action="/computacion/reporte-incidencias" method="post">{% csrf_token %}
                <fieldset>
                    <legend>Reporte de Incidencias</legend>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label>
                                Fecha <input type="date" name="fecha">
                            </label>
                        </div>
                        <div class="medium-9 columns">
                            <label>
                                Profesor
                                <select name="codigo" id="codigo" onchange="filtra_materias(this)">
                                    <option value="0" disabled="true" selected="true">-- SELECCIONE --</option>
                                    {% for x in profesores %}
                                    <option value="{{ x.codigo_udg }}">{{ x.apellido }}, {{ x.nombre }} ({{ x.codigo_udg }})</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-5 columns">
                            <label>
                                Depto. <input type="text" name="depto" placeholder="Departamento" disabled="true" value="{{ departamento.nick|upper }}">
                            </label>
                        </div>
                        <div class="medium-5 columns">
                            <label>
                                Materia | Sección | Horario
                                <select name="materia" id="materia">
                                    <option value="0" disabled="true" selected="true">-- seleccione profesor primero --</option>
{% comment %}
                                        {% for x in materias %}
                                    <option value="{{ x.fk_materia }}">{{ x.fk_materia }} | {{ x.fk_secc }}</option>
                                    {% endfor %}
{% endcomment %}
                                </select>
                            </label>
                        </div>
                        <div class="medium-2 columns">
                            <label>
                                Horas falta <input type="text" name="horasFalta" placeholder="Horas falta">
                            </label>
                        </div>
                    </div>
                    <div class="button-bar">
                        <ul class="button-group round">
                            <li>
                                <input type="submit" value="Enviar Reporte" class="button tiny">
                            </li>
                            {% if error %}
                            <li data-alert class="alert-box warning round">
                                    Revisa bien la información.
                                    <a href="#" class="close">×</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}