{% extends 'base.html' %}

{% block title %}
    Formulario de Incidencias
{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-11 medium-centered columns panel">
            <h4 class="text-center">Reportes de Incidencias</h4>
            <form action="/computacion/ver-incidencias" method="post">{% csrf_token %}
                <div class="row">                    
                    <div class="medium-6 columns">
                        <label>
                            Fecha de inicio<input type="date" name="fechaIni" class="error">
                        </label>
                        {% if error %}
                        <small class="error">Fecha invalida</small>
                        {% endif %}
                    </div>
                    <div class="medium-6 columns">
                        <label>
                            Fecha fin<input type="date" name="fechaFin" class="error">
                        </label>
                        {% if error %}
                        <small class="error">Fecha invalida</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <br><input type="submit" value="Generar reporte" class="button tiny">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}