{% extends 'base.html' %}

{% block title %}
    Subir CSV
{% endblock %}

{% block poshead %}
<style type="text/css">
    input[type="file"]
    {
        background-color: #FAFAFA;
        padding: 4px 12px;
        text-align: center;
        border: 1px solid #676767;
        border-radius: 4px;
    }
</style>
    
{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-6 medium-centered columns panel">
            <form action="/sistema/upload-csv" method="post">{% csrf_token %}
                <h3 class="text-center">Subir CSV</h2>
                <div class="alert-box info radius">
                    Solo se puede subir una sola vez el archivo .csv<br/>
                    Por favor, verifica que tu conexion sea estable antes de proceder.
                </div>
                {% if error %}
                <div data-alert="" class="alert-box warning round">
                  Revisa bien la información.
                  <a href="#" class="close">×</a>
                </div>
                {% endif %}
                <input type="file" name="archivo-csv">
                <input type="submit" value="Subir archivo" class="button tiny">
            </form>
        </div>
    </div>
{% endblock %}