{% extends 'base.html' %}

{% block title %}
    Históricos
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-5 large-offset-7 columns">
        <div class="row">
            <form method="POST" action="/historicos/filtro/">{% csrf_token %}
                <div class="large-12 columns">
                    <h5>Buscar por fecha</h5>
                </div>
                <div class="large-8 columns">
                    <input class="error" type="date" name="fecha" placeholder="yyyy/mm/dd" required>
                    {% if errors %}
                        <small class="error">{{errors}}</small>
                    {% endif %}
                </div>
                <div class="large-4 columns end">
                    <input type="submit" value="Buscar" class="button small radius">
                </div>
            </form>
        </div>
    </div>

    <ul class="pagination" role="menubar" aria-label="Pagination">
        {% if registros.has_other_pages %}
        <li class="arrow">
            <a href="{% if registros.has_previous %}?pagina={{ registros.previous_page_number }}{% else %}#{% endif %}">&laquo; Anterior</a>
        </li>
        
        {% for i in registros.paginator.page_range %}
            <li {% if registros.number = i %} class="current"{% endif %}><a href="?pagina={{ i }}">{{ i }}</a></li>
        {% endfor %}

        <li class="arrow">
            <a href="{% if registros.has_next %}?pagina={{ registros.next_page_number }}{% else %}#{% endif %}">Siguiente &raquo;</a></li>
        </li>
        {% endif %}

        <li><p class="no-margin no-padding" style="position: absolute; right: 0; right: 32px;">Mostrando {{ registros.start_index }}-{{ registros.end_index }} de {{ registros.paginator.count }}.</p></li>
    </ul>

    <div class="large-12 medium-12 columns">
        <div class="panel">
            <table class="full-width-table">
                <caption><h3>Históricos<h3></caption>
                <thead>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Descripción</th>
                    <th>De</th>
                    <th>A</th>
                    <th>Tabla</th>
                </thead>

                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{registro.usuario}}</td>
                        <td>{{registro.fechaModificacion}}</td>
                        <td>{{registro.horaModificacion}}</td>
                        <td>{{registro.descripcion}}</td>
                        <td>{{registro.cambioDe}}</td>
                        <td>{{registro.cambioA}}</td>
                        <td>{{registro.cambioTabla}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <ul class="pagination" role="menubar" aria-label="Pagination">
                {% if registros.has_other_pages %}
                <li class="arrow">
                    <a href="{% if registros.has_previous %}?pagina={{ registros.previous_page_number }}{% else %}#{% endif %}">&laquo; Anterior</a>
                </li>
                
                {% for i in registros.paginator.page_range %}
                    <li {% if registros.number = i %} class="current"{% endif %}><a href="?pagina={{ i }}">{{ i }}</a></li>
                {% endfor %}

                <li class="arrow">
                    <a href="{% if registros.has_next %}?pagina={{ registros.next_page_number }}{% else %}#{% endif %}">Siguiente &raquo;</a></li>
                </li>
                {% endif %}

                <li><p class="no-margin no-padding" style="position: absolute; right: 0; right: 32px;">Mostrando {{ registros.start_index }}-{{ registros.end_index }} de {{ registros.paginator.count }}.</p></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}