{% extends 'base.html' %}

{% block title %}
    Reporte de Incidencias
{% endblock %}

{% block navegacion %}
    <li><a href="/inicio-secretaria">Secretaria</a></li>
{% endblock %}

{% block poshead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/print/formatos.css' %}" type="text/css" media="print" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-12 columns">
            <button class="button tiny hide-for-print right" onclick="print()">Imprimir formato</button>
            <table class="full-width-table">
                <thead class="especialHead">
                    <th colspan="2">
                        {% load staticfiles %}
                        <img src="{% static 'img/udglogo.jpg' %}">
                    </th>
                    <th style="text-align: center" colspan="7">
                        REPORTE DE INCIDENCIAS DEL PERSONAL ACADEMINCO<br>
                        CENTRO UNIVERSITARIO DE CIENCIAS EXACTAS E INGENIERIAS<br>

                        {% if extender_info %}
                            DEL {{ dia_ini }} DE {{ mes_ini }} DE {{ anio_ini }}<br>
                            AL {{ dia_fin }} DE {{ mes_fin }} DE {{ anio_fin }}
                        {% else %}
                            DEL {{ dia_ini }} AL {{ dia_fin }} DE {{ mes_fin }} DE {{ anio_fin }}
                        {% endif %}
                    </th>
                </thead>

                <thead>
                    <th>FECHA</th>
                    <th>NOMBRE</th>
                    <th>CODIGO</th>
                    <th>CATEGORIA</th>
                    <th>DEPTO.</th>
                    <th>MATERIA</th>
                    <th>SECC</th>
                    <th>HORARIO</th>
                    <th>HORAS FALTA</th>
                </thead>

                <tbody>
                    {% for x in listaIncidencias %}
                    <tr>
                        <td class="row-fecha">{{ x.fecha }}</td>
                        <td class="row-nombre">{{ x.nombre }}</td>
                        <td class="row-codigo">{{ x.codigo }}</td>
                        <td class="row-categoria">{{ x.categoria }}</td>
                        <td class="row-dpto">{{ x.dpto }}</td>
                        <td class="row-materia">{{ x.materia }}</td>
                        <td class="row-secc">{{ x.secc }}</td>
                        <td class="row-horario">{{ x.horario }}</td>                            
                        <td class="row-hrsFalta">{{ x.hrsFalta }}</td>
                    </tr>
                    {% endfor %}

                    {# para fines de demostrativos y visuales #}
                    <tr>
                        <td class="row-fecha">12/JUL/2015</td>
                        <td class="row-nombre">JOSE LUIS RODRIGUEZ JIMENEZ</td>
                        <td class="row-codigo">75343622</td>
                        <td class="row-categoria">CAT98</td>
                        <td class="row-dpto">COMP</td>
                        <td class="row-materia">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR</td>
                        <td class="row-secc">D08</td>
                        <td class="row-horario">17:00 - 19:00</td>                            
                        <td class="row-hrsFalta">24</td>
                    </tr>
                </tbody>
            </table><br>
        </div>
    </div>
{% endblock %}