{% extends 'base.html' %}

{% block title %}
    Inicio - Secretarias
{% endblock %}

{% block content %}
    <div class="row">
        {% for dep in lista_departamentos %}
        <div class="large-4 medium-6 small-12 columns">
            <div class="division-banner">
                {% load staticfiles %}
                <img src="{% static 'img/logos_carreras/' %}{{ dep.nick }}.png">
            </div>
            <div class="large-12 colums panel">
                <h3 class="text-center">{{ dep.nombre }}<h3>
                <div class="row">
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/computacion/listas/tCompleto'">Lista - Tiempo Completo</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/computacion/listas/tMedio'">Lista - Medio Tiempo</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/computacion/form-incidencias'">Ver Incidencias</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/computacion/form-reporte-incidencias'">Reportar Incidencia</button>
                    </div>
                    <div class="large-12 columns">
                        <button class="button expand" onclick="location.href='/computacion/estadisticas/'">Estadisticas</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}