 {% extends 'base.html' %}

{% block title %}
    Modificar password
{% endblock %}

{% block content %}
	
	<div class="row">
	<div class="large-5 medium-8 columns ">
		<div class="panel">
			{% if errors %}
                    <div class="alert-box alert radius">{{errors}}</div>
            {% endif %}
			<form id='formulario' method='post' >{% csrf_token %}
				<h4 align="center">Cambiar Contraseña</h4>
				<label>Contraseña  actual</label>
				<input type="password" name="password_actual" placeholder="Contraseña" required/><br>
				<label>Nueva Contraseña</label>
				<input type="password" name="password_nuevo" placeholder="Contraseña" required/>
				<label>Confirmar Contraseña</label>
				<input type="password" name="verificacion_password" placeholder="Contraseña" required/>	

				<input type="submit" value="Continuar" class="button expand"/>
			</form>
		</div>
	</div>
</div>
{% endblock %}