{% extends 'base.html' %}

{% block title %}
    Nuevo Departamento - Administrador
{% endblock %}

{% block content %}
<div class="row">
	<div class="large-4 medium-6 small-12 columns">
		<div class="panel">
			<div class="row">
				<div class="large-12 medium-12 columns">
					<h4>Nuevo Departamento</h4>
					<form method='POST' action="/nuevo_departamento">{% csrf_token %}
						<label>Nombre del Departamento</label>
							<input type="text" name='nombre' placeholder="Nombre de la nueva división"/>
			       		<label>Codigo del Departamento</label>
			       		<input type="text" name="id" placeholder="Codigo de la nueva divicion"/>
			       		<input type="submit" value="Continuar" class="button expand"/>
			       	</form>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}

