{% extends 'base.html' %}

{% block title %}
    Nuevo Departamento - Administrador
{% endblock %}

{% block content %}
<div class="row">
	<div class="large-6 medium-6 small-12 columns">
		<div class="panel">
			{% if opcionesJefeDepartamento|length < 1 %}
        	    <div class="callout panel"><label class="error">{{errors}}</label></div>
            {% endif %}
			<div class="row">
				<div class="large-12 medium-12 columns">
					<h4>Nuevo Departamento</h4>
					<form method='POST' action="/nuevo_departamento">{% csrf_token %}
						<label>Nombre del Departamento</label>
							<input type="text" name='nombre' placeholder="Nombre de la nueva división"/>
			       		<label>Codigo del Departamento</label>
			       		<input type="text" name="id" placeholder="Codigo de la nueva divicion"/>
			       		<label>Jefe del departamento</label>
			       		<select name="nuevoJefe">
                            {% for opcionJefeDepartamento in opcionesJefeDepartamento %}
                            <option value="{{opcionJefeDepartamento}}">{{ opcionJefeDepartamento.user.last_name }}, {{opcionJefeDepartamento.rol}}({{opcionJefeDepartamento.codigo}})</option>
                            {% endfor %}
                        </select>
			       		<button class="button expand" {% if opcionesJefeDepartamento|length < 1 %}disabled{% endif %}>Continuar</button>
			       	</form>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}

